@import '../css/variables.scss';
@import '~font-awesome/css/font-awesome.css';

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.bumpMargin {
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: $accent;
  padding: 5px 0;
  margin-bottom: 15px;
  color: white;

  p {
    margin: 0 0 0 10px;
  }

  .counter {
    margin: 0;
    flex: 1;
    text-align: center;
  }
  fa-icon {
    margin-right: 10px;
    cursor: pointer;
  }
}

.questions-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .question {
    width: 60vw;
    min-width: 300px;
    margin-bottom: 20px;
    border: 1px solid darkgray;
    padding: 10px;
    border-radius: 10px;

    &.error {
      border-color: red;
    }

    & > .radio-group {
      margin-bottom: 10px;
    }

    .radio-button {
      margin: 5px 0;
    }

    .check {
      position: relative;
      &::after {
        font-family: FontAwesome;
        content: '\f058';
        font-size: 20px;
        margin-left: 10px;
        color: green;
        position: absolute;
      }
    }
  }
}

.submit-button {
  width: 100%;
  height: 50px;
  border: none;
  align-self: center;
  outline: none;
  color: white;
  background: $accent;
  transition: all ease 0.5s;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
