.form {
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  .question {
    max-width: 550px;
    margin: 20px 0;

    & > .radio-group {
      margin-bottom: 10px;
    }

    .radio-button {
      margin: 5px 0;
    }
  }

  button {
    width: 200px;
  }
}
