<div class="header" [ngClass]="{ sticky: stickyHeader }">
  <p>{{ currentQuestion + 1 }} / {{ questions.length }}</p>
  <h3 class="counter">
    {{ counter | countdown }} <fa-icon icon="clock"></fa-icon>
  </h3>
  <fa-icon icon="undo" (click)="reset()"></fa-icon>
</div>
<form
  [formGroup]="quiz1"
  (ngSubmit)="submitForm()"
  class="form"
  [ngClass]="{ bumpMargin: stickyHeader }"
>
  <div class="questions-wrapper">
    <div
      class="question"
      [ngClass]="{
        error: quiz1.controls[questions[currentQuestion].question].errors
      }"
    >
      <h3>{{ questions[currentQuestion].question }}</h3>
      <mat-radio-group
        class="radio-group"
        [formControlName]="questions[currentQuestion].question"
      >
        <div
          class="answer-container"
          *ngFor="let answer of questions[currentQuestion].answers"
        >
          <mat-radio-button
            class="radio-button"
            [ngClass]="{
              check:
                answer.points === 1 &&
                quiz1.controls[questions[currentQuestion].question].errors
            }"
            [value]="answer"
            [checked]="questions[currentQuestion].selected == answer.text"
            (change)="radioChange($event, currentQuestion)"
            color="primary"
          >
            {{ answer.text }}
          </mat-radio-button>
        </div>
      </mat-radio-group>
    </div>
  </div>
  <footer>
    <div class="pagination">
      <button
        mat-button
        type="button"
        *ngIf="currentQuestion > 0"
        (click)="goToPrevious(currentQuestion)"
      >
        <fa-icon icon="arrow-circle-left"></fa-icon> Previous
      </button>
      <button
        mat-button
        type="button"
        *ngIf="questions.length - 1 > currentQuestion"
        (click)="goToNext(currentQuestion)"
      >
        Next <fa-icon icon="arrow-circle-right"></fa-icon>
      </button>
    </div>
    <button
      *ngIf="currentQuestion === questions.length - 1"
      class="submit-button"
      type="submit"
    >
      Submit
    </button>
  </footer>
</form>
