.wrapper {
  a {
    text-transform: none;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
  }
  .content {
    min-height: 82vh;
  }
  .footer {
    justify-content: center;
    align-items: center;
    p {
      font-size: 0.6em;
    }
  }
}
