.wrapper {
  a {
    text-transform: none;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
  }
  .content {
    min-height: calc(100vh - 110px);
  }
  .footer {
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    height: 50px;
  }
}
