$jsYellow: #eed81a;

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10vh 10vw;
  .header {
    display: flex;
    h1 {
      margin-right: 10px;
      span {
        color: $jsYellow;
        font-weight: 900;
        text-shadow: 1px 1px 1px darken($jsYellow, 50);
      }
    }
  }
  .pick-level {
    display: flex;

    mat-card {
      flex: 1;
      margin-left: 10px;
      cursor: pointer;
      mat-card-title {
        display: flex;
        align-items: center;
        h2 {
          margin: 0 5px 0 0;
        }
        fa-icon {
          font-size: 0.5em;
          color: gold;
        }
      }
      &.inactive {
        opacity: 0.5;
      }
    }
  }
}
